	/* CLEARFIX */


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


	/* STRUCTURE */

	
.row
{
	width: 100%;
	padding: 16px 0;
	text-align: center;
}

.center
{
	width: 980px;
	margin: 0 auto;
	text-align: left;
}

.span-wrap
{
	margin-left: -4%;
}

@media screen and (max-width: 1020px) {
	
	.center
	{
		width: 96%;
	}
}

.span12 { width: 96%; }
.span10 { width: 79.3%; }
.span8 { width: 62.6%; }
.span7 { width: 54.3%; }
.span6 { width: 46%; }
.span5 { width: 37.6%; }
.span4 { width: 29.3%; }
.span3 { width: 21%; }
.span2 { width: 12.6%; }
.span1 { width: 4.3%; }

.span12, .span10, .span8, .span7, .span6, .span5, .span4, .span3, .span2, .span1
{
	margin-left: 4%;
	float: left;
}

@media screen and (max-width: 650px) {
	
	.span-wrap
	{
		margin-left: 0;
	}
	
	.span12, .span10, .span8, .span7, .span6, .span5, .span4, .span3, .span2, .span1
	{
		width: 100%;
		float: none;
		margin-left: 0;
	}
}


	/* SECTIONING */


.header
{
	
}

.center
{
	
}

.footer div
{
	text-align: right;
}

.footer div:first-child
{
	text-align: left;
}

@media screen and (max-width: 520px) {
	
	.footer div
	{
		text-align: left;
	}
}


	/* NAVIGATION */


nav ul
{
	padding-left: 0;
}

.nav-main
{
	float: right;
}

@media screen and (max-width: 520px) {
	
	.nav-main
	{
		float: none;
	}
}

.nav-main li
{
	float: left;
	position: relative;
	line-height: 1.8em;
}

.nav-main li:hover ul
{
	display: block;
}

.nav-main li:hover ul li ul
{
	display: none;
}

.nav-main a
{
	display: block;
	padding: 0 6px;
	background-color: #eee;
}

.nav-main li ul
{
	position: absolute;
	top: 100%;
	margin: 0;
	display: none;
}

.nav-main li ul li
{
	padding-left: 0;
}

.nav-main li ul li a
{
	background-color: #ddd;
}

.nav-main li ul li ul
{
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 10;
}

.nav-main li ul li:hover ul
{
	display: block;
}

.nav-main li ul li ul li a
{
	background-color: #ccc;
}
	