{{ theme:partial name="header" }}
{{ theme:partial name="nav" }}

<style type="text/css">
.span-test h4 { background-color: #EEE; outline: 1px dotted #CCC; text-align: center; padding: 4px 0; }
</style>

<div class="row content" id="content">

	<div class="center clearfix">
		
		<div class="span8">

			{{ template:body }}

		</div>

		<div class="span4" id="sidebar">
			
			{{ theme:partial name="sidebar" }}
			
		</div>

	</div> <!-- /.center -->

</div> <!-- .content -->

<div class="row span-test" id="span-test">

	<div class="center clearfix">
		
		<div class="span12">
		
			<h3>Layout Span Demo</h3>
		
		</div>
		
		<div class="span12">

			<h4>12</h4>
			
		</div>

		<div class="span10">
			
			<h4>10</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>

		<div class="span8">
			
			<h4>8</h4>
			
		</div>
		
		<div class="span4">
			
			<h4>4</h4>
			
		</div>

		<div class="span6">
			
			<h4>6</h4>
			
		</div>
		
		<div class="span6">
			
			<h4>6</h4>
			
		</div>
		
		<div class="span4">
			
			<h4>4</h4>
			
		</div>
		
		<div class="span4">
			
			<h4>4</h4>
			
		</div>
		
		<div class="span4">
			
			<h4>4</h4>
			
		</div>
		
		<div class="span3">
			
			<h4>3</h4>
			
		</div>
		
		<div class="span3">
			
			<h4>3</h4>
			
		</div>
		
		<div class="span3">
			
			<h4>3</h4>
			
		</div>
		
		<div class="span3">
			
			<h4>3</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span2">
			
			<h4>2</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>
		
		<div class="span1">
			
			<h4>1</h4>
			
		</div>

	</div> <!-- /.center -->

</div> <!-- .content -->

{{ theme:partial name="footer" }}
